.todoItem {
  position: relative;
  width: 40%;
  margin: 0 auto;
  padding: 0 75px;
  border-bottom: 1px solid #000;
}

.todoItem > p {
  margin: 0;
  word-wrap: break-word;
}

.todoCheckbox {
  display: none;
}

label {
  position: absolute;
  top: calc(50% - 20px);
  left: 3px;
  display: flex;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
}

label:hover {
  cursor: pointer;
}

.labelMarked {
  text-decoration: line-through;
}

.btnClose {
  position: absolute;
  top: 4px;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s, filter 0.3s;
}

.btnClose:hover {
  filter: drop-shadow(0 5px 5px grey);
  background-color: lightgrey;
}

.deleteSVG {
  position: absolute;
  top: 4px;
  left: 5px;
}

.deleteSVG > path {
  transition: all 1s;
}

.deleteSVG:hover > path:nth-child(1),
.deleteSVG:hover > path:nth-child(2) {
  fill: #808080;
}
