.todoItem {
  position: relative;
  width: 40%;
  margin: 0 auto;
  padding: 0 75px;
  border-bottom: 1px solid #61efff;
}

.todoItem > p {
  margin: 0;
  word-wrap: break-word;
}

.todoCheckbox {
  display: none;
}

label {
  position: absolute;
  top: calc(50% - 20px);
  left: 3px;
  display: flex;
  width: 40px;
  height: 40px;
  border: 1px solid #61efff;
  border-radius: 10px;
}

label:hover {
  cursor: pointer;
}

.labelMarked {
  text-decoration: line-through;
}

.btnClose {
  position: absolute;
  /* top: 4px; */
  top: calc(50% - 25px);
  right: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 2px solid rgb(97, 239, 255);
  filter: blur(0.5px);
  border-radius: 10px;
  transition: background-color 0.3s, filter 0.3s;
}

.btnClose:hover {
  filter: drop-shadow(0 5px 5px rgba(97, 239, 255, 0.5));
  filter: blur(0.2px);
}

.deleteSVG {
  position: absolute;
  top: 2px;
  left: 3px;
}

.deleteSVG > path {
  transition: all 1s;
}

.deleteSVG:hover > path:nth-child(1),
.deleteSVG:hover > path:nth-child(2) {
  fill: #808080;
}

@media (max-width: 1440px) {
  .todoItem {
    margin-bottom: 10px;
  }
  .todoItem > p {
    font-size: 0.7em;
    line-height: 150%;
  }
  .btnClose {
    width: 40px;
    height: 40px;
  }
  .deleteSVG {
    display: block;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 1024px) {
  .todoItem {
    width: 75%;
    margin-bottom: 0;
  }
  .todoItem > p {
    font-size: 0.5em;
    line-height: 250%;
  }
  label {
    top: calc(50% - 15px);
    width: 30px;
    height: 30px;
  }
  .btnClose {
    top: calc(50% - 15px);
    width: 30px;
    height: 30px;
  }
  .deleteSVG {
    display: block;
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 768px) {
  .todoItem {
    width: 74%;
  }
  .todoItem > p {
    font-size: 0.4em;
    line-height: 250%;
  }
}
