.container {
  position: relative;
  margin: 0;
  padding: 20px 40px;
}

.content {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 0.7em;
}

.description {
  font-size: 1em;
}

@media (max-width: 640px) {
  .description {
    font-size: 0.6em;
  }
}
