.container {
  position: relative;
  margin: 0;
  padding: 20px 40px;
}

.content {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.content > .title {
  font-size: 0.7em;
}

.content > .description {
  font-size: 1em;
}
